In [27]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
netflix = pd.read_excel(r"C:\Users\VEDANTH REDDY SN\Downloads\Netflix Data.xlsx")

In [28]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,"Raúl Campos, Jan Suter",Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,"Raúl Campos, Jan Suter","Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,"Raúl Campos, Jan Suter","Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [30]:
 netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6236 entries, 0 to 6235
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6236 non-null   object
 1   type          6236 non-null   object
 2   title         6236 non-null   object
 3   director      6236 non-null   object
 4   cast          6236 non-null   object
 5   country       6236 non-null   object
 6   date_added    6236 non-null   string
 7   release_year  6236 non-null   object
 8   rating        6236 non-null   object
 9   duration      6236 non-null   string
 10  listed_in     6236 non-null   object
 11  description   6236 non-null   object
dtypes: object(10), string(2)
memory usage: 584.8+ KB

 **CHECKING  DUPLICATES**

In [31]:
 netflix[netflix.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

**CHECKING FOR NULL AND MISSING VALUES**

In [32]:
 netflix.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

 **FILLING NULL/MISSING VALUES**

In [33]:
netflix.type.astype(object)

0         Movie
1         Movie
2       TV Show
3       TV Show
4         Movie
         ...
6231    TV Show
6232    TV Show
6233      Movie
6234    TV Show
6235    TV Show
Name: type, Length: 6236, dtype: object

In [34]:
netflix.type.astype(object).mode()

0    Movie
Name: type, dtype: object

In [35]:
netflix.director.astype(object).mode()

0    Raúl Campos, Jan Suter
Name: director, dtype: object

**CONVERTING OBJECT DATATYPE TO STRING (date_added,duration col contains both numeric and categorical values)**

In [ ]:
netflix['date_added'] = netflix['date_added'].astype('string')
netflix['duration'] = netflix['duration'].astype('string')

In [36]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6236 entries, 0 to 6235
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6236 non-null   object
 1   type          6236 non-null   object
 2   title         6236 non-null   object
 3   director      6236 non-null   object
 4   cast          6236 non-null   object
 5   country       6236 non-null   object
 6   date_added    6236 non-null   string
 7   release_year  6236 non-null   object
 8   rating        6236 non-null   object
 9   duration      6236 non-null   string
 10  listed_in     6236 non-null   object
 11  description   6236 non-null   object
dtypes: object(10), string(2)
memory usage: 584.8+ KB

In [39]:
netflix['type'] = netflix['type'].fillna(netflix['type'].mode()[0])
netflix['title'] = netflix['title'].fillna(netflix['title'].mode()[0])
netflix['director'] = netflix['director'].fillna(netflix['director'].mode()[0])
netflix['cast'] = netflix['cast'].fillna(netflix['cast'].mode()[0])
netflix['country'] = netflix['country'].fillna(netflix['country'].mode()[0])
netflix['date_added'] = netflix['date_added'].fillna(netflix['date_added'].mode()[0])
netflix['release_year'] = netflix['release_year'].fillna(netflix['release_year'].mode()[0])
netflix['rating'] = netflix['rating'].fillna(netflix['rating'].mode()[0])
netflix['duration'] = netflix['duration'].fillna(netflix['duration'].mode()[0])
netflix['listed_in'] = netflix['listed_in'].fillna(netflix['listed_in'].mode()[0])
netflix['description'] = netflix['description'].fillna(netflix['description'].mode()[0])

In [40]:
netflix.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

**CONVERTING CLEANED DATA TO CSV FILE**

In [41]:
netflix.to_csv(r"C:\Users\VEDANTH REDDY SN\Downloads\Netflix_data.csv",index=False)